.container-doctor-detail {
    padding: 50px 100px;
    
}
.description {
    padding: 50px 100px;
    background-color: #fff;
    border-top: 1px solid rgb(90, 89, 89);
    .description-doctor {
    }
}
